h1 {
  font-size: 50px;
}
main img {
  border-radius: 50px;
}

.image {
  display: flex;
  justify-content: center;
}

.picture {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  padding: 10px;
}

.grid-item {
 
  padding: 20px;
  font-size: 100px;
  text-align: center;
}