body {
  background-color: rgb(178, 236, 250);
}

nav {
  background-image: url(595.jpg);
  background-position: center;
  display: flex;
}

nav a {
  color: white;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 30px 0;
  margin-left: 100px;
  margin-right: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  color: white;
  text-decoration: none;
}

footer {
  background-image: url(595.jpg);
  background-position: center;
  margin-top: auto;
  position: relative;
  bottom: auto;
  width: 100%;
}

footer p {
  color: white;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 0;
  text-align: center;
  display: block;
  unicode-bidi: isolate;
}
